.sidebar-button{
    -fx-background-color: #ffffff;
    -fx-border-radius: 0px;
}
.sidebar-button-text{
    -fx-text-fill: #BEBEBE;
}

.sidebar-button:hover  {
    /*#E9B700*/
    /*#BEBEBE*/
    -fx-text-fill: #000000;
    -fx-background-color: #000000;
    
}


.sidebar{
    -fx-background-color: #ffffff;
}